# https://git-scm.com/docs/git-config#_configuration_file
[advice]
	# statusHints = false
[alias]
	au = add -u
  add = add .
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = diff
  discard = reset --hard origin/HEAD
  ds = diff --staged
  pushu = push -u origin HEAD
  force = push -f origin HEAD
  graph = log --graph
  l1 = log -n 1
  l3 = log -n 3
  rs = reset --soft origin/HEAD
  rh = reset --hard origin/HEAD
  stat = status
  stt = status
[commit]
  gpgsign = true
[core]
	autocrlf = input
	editor = vim
	excludesFile = ~/.gitignore
	pager = cat
[credential]
  helper = osxkeychain
[init]
	defaultBranch = main
[pager]
	branch = false
[tag]
  gpgSign = true
[user]
	name = Johnny Tran
	email = 48148643+johnnytran0@users.noreply.github.com
  signingkey = 703F1A0769D51230
[web]
	browser = 'google-chrome'
